LarissaMoraisPereiraAutomacaoEmail.json
{
  "name": "emailOnfly02",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "simple": false,
        "filters": {
          "readStatus": "unread"
        },
        "options": {
          "dataPropertyAttachmentsPrefixName": "attachment",
          "downloadAttachments": true
        }
      },
      "type": "n8n-nodes-base.gmailTrigger",
      "typeVersion": 1.2,
      "position": [
        -540,
        -380
      ],
      "id": "458bd8b9-931e-4e06-93bf-53a211546e76",
      "name": "Gmail Trigger",
      "notesInFlow": false,
      "credentials": {
        "gmailOAuth2": {
          "id": "wJATL9LwiUS2RjDM",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "32a9040f-be08-4162-8223-d035ddd8c6c3",
              "leftValue": "attachment",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        -360,
        -380
      ],
      "id": "b1c92d25-f206-4fd3-a012-5f406fc6ac1b",
      "name": "Filter"
    },
    {
      "parameters": {
        "operation": "get",
        "messageId": "={{ $json.id }}",
        "simple": false,
        "options": {
          "downloadAttachments": true
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        -180,
        -380
      ],
      "id": "a6a62d5f-8a36-438b-b2d6-b4f1dd93668d",
      "name": "Gmail",
      "webhookId": "eb3fc1d6-7117-4b07-aa46-7ff2db951b01",
      "credentials": {
        "gmailOAuth2": {
          "id": "wJATL9LwiUS2RjDM",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "inputDataFieldName": "attachment_0",
        "driveId": {
          "__rl": true,
          "value": "My Drive",
          "mode": "list",
          "cachedResultName": "My Drive",
          "cachedResultUrl": "https://drive.google.com/drive/my-drive"
        },
        "folderId": {
          "__rl": true,
          "value": "1lBvMgYhnfhqSPx2wIwFOsyjdIwBeVn85",
          "mode": "list",
          "cachedResultName": "Aquivos CSV",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1lBvMgYhnfhqSPx2wIwFOsyjdIwBeVn85"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        40,
        -380
      ],
      "id": "fa1af0b0-5bd3-4025-97ac-5d53d7ebf168",
      "name": "Google Drive",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "uJWmUuuBXiKyhkW1",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ $('Filter').item.json.from.value[0].address }}",
        "subject": "={{ $('Filter').item.json.subject }}",
        "emailType": "text",
        "message": "Arquivo CSV recebido com sucesso!",
        "options": {
          "replyToSenderOnly": true
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        -500,
        -160
      ],
      "id": "5eaec641-c0b1-4683-b1f8-7114f6b9c506",
      "name": "Gmail1",
      "webhookId": "32438cc9-799d-4651-8ab0-2d6833976315",
      "credentials": {
        "gmailOAuth2": {
          "id": "wJATL9LwiUS2RjDM",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "operation": "markAsRead",
        "messageId": "={{ $('Gmail Trigger').item.json.id }}"
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        -280,
        -160
      ],
      "id": "d19f57a5-e107-45ba-b0d2-74fb9c33fdce",
      "name": "Gmail2",
      "webhookId": "43a9d8eb-3b6d-4910-8f82-d850b4868355",
      "notesInFlow": true,
      "credentials": {
        "gmailOAuth2": {
          "id": "wJATL9LwiUS2RjDM",
          "name": "Gmail account"
        }
      },
      "notes": "Marcar como lida para não processar novamente."
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        0,
        -160
      ],
      "id": "8728c169-02ce-4064-b8dc-97c936ad15c2",
      "name": "No Operation, do nothing"
    }
  ],
  "pinData": {},
  "connections": {
    "Gmail Trigger": {
      "main": [
        [
          {
            "node": "Filter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter": {
      "main": [
        [
          {
            "node": "Gmail",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gmail": {
      "main": [
        [
          {
            "node": "Google Drive",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Drive": {
      "main": [
        [
          {
            "node": "Gmail1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gmail1": {
      "main": [
        [
          {
            "node": "Gmail2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gmail2": {
      "main": [
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "No Operation, do nothing": {
      "main": [
        []
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "8e12d810-5bfe-4dee-b4c0-a832e56aa638",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "b74d213d7f7f4353055e2cf141900d07a50707736267e3bb0c7c67a0dc717ab2"
  },
  "id": "OIQNokxjuQ17Ch4c",
  "tags": []
}